<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28217354933-1059g7rjpsull1sgi6rocaus9avdmoup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28217354933-1059g7rjpsull1sgi6rocaus9avdmoup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>28217354933-rsh56a97a7fc1cj70b29ca15caadbtit.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmTuoQZA5MdAexmqXT1H5ZgFhsddGBrIg</string>
	<key>GCM_SENDER_ID</key>
	<string>28217354933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skycosmetic.lenses</string>
	<key>PROJECT_ID</key>
	<string>skylenses-6e997</string>
	<key>STORAGE_BUCKET</key>
	<string>skylenses-6e997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28217354933:ios:587b7eb736b8fd22736cfc</string>
	<key>DATABASE_URL</key>
	<string>https://skylenses-6e997.firebaseio.com</string>
</dict>
</plist>